@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "El Messiri", sans-serif;
}

body {
  background: #4f393c;
  color: #fff;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

i.mute {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 3rem;
  height: 3rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  border-radius: 3px;
}

.kick-pad {
  background: #fc6e72;
}

.kick-pad.active {
  background: #e74045;
}

.snare-pad {
  background: #5fcceb;
}

.snare-pad.active {
  background: #219cbe;
}

.hihat-pad {
  background: #8aeda8;
}

.hihat-pad.active {
  background: #3cc063;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick-select option:hover {
  background: #fc6e72;
}

.hihat,
.snare,
.kick {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
}

.controls button {
  padding: 0.7rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  background: #002233;
  color: #fff;
}

.controls button.active {
  background: rgba(0, 34, 51, 0.3);
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background: #002233;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}

select {
  padding: 0.5rem;
  font-weight: 400;
}

.tempo {
  max-width: 3rem 0;
  width: 30%;
}

.tempo-slider {
  -webkit-appearance: none;
  appearance: none;
  margin: 1rem 0;
  width: 100%;
  position: relative;
  background: #002233;
  border-radius: 1rem;
  cursor: pointer;
}

.tempo p {
  margin: 1rem 0;
  text-align: center;
}

@keyframes playTrack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@media (max-width: 870px) {
  .kick-track,
  .snare-track,
  .hihat-track {
    flex-direction: column;
  }

  .controls {
    flex: 0;
    width: 300px;
    justify-content: space-between;
  }

  .kick-pad,
  .snare-pad,
  .hihat-pad {
    height: 2rem;
    width: 2rem;
  }
}
